* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ABOUT SECTION STYLES */
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
#navbar {
  background: #172974;
}
.nav-items .nav-links:hover {
  background-color: cornflowerblue;
  color: #535420;
  border-radius: 2px;
}

.footer {
  background: #172974;
  padding: 20px;
}
.footer .icons {
  color: #fff;
}

a {
  text-decoration: none;
}
.info {
  width: 30%;
  text-align: center;
  color: rgb(11, 39, 92);
}
.info h1 {
  padding-bottom: 40px;
  font-size: xx-large;
}

.info P {
  font-size: 18px;
}

.my-image {
  width: 70%;
}

.my-image img {
  width: 100%;
  height: 100%;
}

.about {
  padding: 100px 200px;
  transition: 0.3s ease;
}

.about-image {
  height: 200px;
  width: 100%;
}

.about-image img {
  height: 100%;
  width: 100%;
}

.about-me {
  margin-top: 20px;
  line-height: 1.5;
  color: rgb(36, 69, 129);
  font-size: 17px;
}

@media (max-width: 980px) {
  .about {
    padding: 100px 50px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 100px 50px;
  }
}

@media (max-width: 690px) {
  .about {
    padding: 100px 50px;
  }
}
