* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ABOUT SECTION STYLES */
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
#navbar {
  background: #172974;
}
.nav-items .nav-links:hover {
  background-color: cornflowerblue;
  color: #535420;
  border-radius: 2px;
}

.footer {
  background: #172974;
  padding: 20px;
}
.footer .icons {
  color: #fff;
}

.footer .icons a i:hover {
  color: greenyellow;
  border-radius: 2px;
}
span {
  color: #d5bf52;
}

h1 {
  padding-top: 30px;
}

a {
  text-decoration: none;
}
.my-info {
  padding-left: 50px;
  width: 50%;
  text-align: left;
  color: white;
}
.my-info h1 {
  padding-bottom: 40px;
  font-size: xx-large;
}

.my-info P {
  font-size: 18px;
}

.my-image {
  width: 50%;
}

.my-info {
  width: 50%;
}

.my-image img {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  background: #3a4b80;
  padding: 50px 50px;
  transition: 0.3s ease;
}

/* .about-image {
  height: 200px;
  width: 100%;
}

.about-image img {
  height: 100%;
  width: 100%;
} */

.about-me {
  margin-top: 20px;
  line-height: 1.5;
  color: rgb(36, 69, 129);
  font-size: 17px;
}

@media (max-width: 980px) {
  .about {
    padding: 50px 25px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 50px 25px;
  }
}

@media (max-width: 690px) {
  .about {
    padding: 50px 25px;
  }
}
.footer .icons {
  color: #fff;
}
.footer .icons a i {
  text-decoration: none;
  color: #fff;
}
