* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: orchid;
}

a {
  text-decoration: none;
  color: cornsilk;
}

ul {
  float: right;
  list-style: none;
}
#navbar {
  background: #172974;
}

.nav-items .nav-links:hover {
  background-color: cornflowerblue;
  color: #535420;
  border-radius: 2px;
}

/* MAIN SECTION */
main {
  display: flex;
  padding: 64px 200px;
  transition: 0.3s ease;
}

.info {
  width: 50%;
  text-align: left;
  color: rgb(11, 39, 92);
}
.my-image {
  width: 50%;
}

.my-image img {
  width: 100%;
  height: 100%;
}
.container h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
}

input,
textarea {
  border: 1px solid brown;
  font-size: 14px;
  padding: 5px;
}

textarea {
  width: 180px;
  max-width: 180px;
  min-width: 180px;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
}

.wrapper {
  margin-bottom: 20px;
}

.button {
  font-size: large;
  color: cornsilk;
  background: rgb(36, 69, 139);
  align-self: center;
  padding: 5px;
  font-family: monospace;
}

/* MEDIA QUERY */

@media (max-width: 980px) {
  main {
    padding: 100px 20px;
  }
}

@media (max-width: 900px) {
  /* MAIN SECTION */
  main {
    display: flex;
    padding: 64px 50px;
  }
}

@media (max-width: 690px) {
  main {
    flex-direction: column;
  }
  .info {
    width: 100%;
    text-align: center;
    color: rgb(11, 39, 92);
  }

  .my-image {
    width: 100%;
    margin-top: 50px;
  }
}
footer {
  padding: 20px;
}
