.footer {
  text-align: center;
  padding: 3px;
  font-size: large;
  /* color: #d5bf52; */
}

.footer .icons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.footer .icons a i {
  text-decoration: none;
  color: #d5bf52;
}
