/* RESET DEFAULT STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN STYLING */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
/* UTILITY CLASSES */
.container {
  margin: auto;
  max-width: 110p0x;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #d5bf52;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #d5bf52;
  color: #333;
}

/* Navbar */
#navbar {
  background: #0f6243;
  color: #fff;
  overflow: auto;
}
.nav-items .nav-links:hover {
  background-color: #5abb76;
  color: #535420;
  border-radius: 2px;
}
#navbar a {
  color: #fff;
}
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}
#showcase.filter {
  -webkit-filter: opacity(59%);
  filter: opacity(59%);
}

#showcase .container {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

h1 {
  font-size: 60px;
  line-height: 1.2em;
}
span {
  color: #d5bf52;
}
p {
  font-size: 26px;
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* 
#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #174e74;
  color: #746217;
} */

/* MAIN SECTION */
/* main {
  display: flex;
  padding: 64px 200px;
  transition: 0.3s ease;
} */

.footer .icons {
  color: #d5bf52;
}
.footer {
  background: #0f6243;
}

.footer .icons a i {
  text-decoration: none;
  color: #d5bf52;
}
/* INTRO SECTION */
.info {
  width: 30%;
  text-align: center;
  color: rgb(11, 39, 92);
}
.info h1 {
  padding-bottom: 40px;
  font-size: xx-large;
}

.info P {
  font-size: 18px;
}

.my-image {
  width: 70%;
}

.my-image img {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERY */

@media (max-width: 980px) {
  main {
    padding: 100px 20px;
  }
}

@media (max-width: 900px) {
  /* MAIN SECTION */
  main {
    display: flex;
    padding: 64px 50px;
  }
}

@media (max-width: 690px) {
  main {
    flex-direction: column;
  }
  .info {
    width: 100%;
    text-align: center;
    color: rgb(11, 39, 92);
  }

  .my-image {
    width: 100%;
    margin-top: 50px;
  }

  h1 {
    font-size: 50px;
    line-height: 1em;
  }
  span {
    color: #d5bf52;
  }
  p {
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 1.2em;
  }
}
