/* RESET DEFAULT STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
  color: #fff;
  /* overflow: auto; */
}

#navbar a {
  color: #fff;
}
/* 
#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

/* #navbar ul li {
  float: left;
} */

/* #navbar a {
  padding-top: 70px;
  text-align: center;
}

#navbar a:hover,
#navbar a.current {
  background: #174e74;
  color: #746217;
} */
#navbar .logo-wrapper .logo .text {
  padding-top: 12px;
  color: black;
}
#navbar .logo-wrapper .tagline {
  padding-left: 8px;
  color: #d5bf52;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
}
.logo-wrapper .logo {
  display: flex;
}

/* hide hamburger by default on bigscreen */

.hamburger-wrapper {
  display: none;
}
.nav-items .nav-links {
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* .nav-items .nav-links:hover {
  background-color: #5abb76;
  color: #535420;
  border-radius: 2px;
} */

.logo-wrapper .logo {
  font-size: 28px;
  color: rgb(255, 255, 255);
}

/* MEDIA QUERY */

@media (max-width: 980px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }
}

@media (max-width: 900px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px, 50px;
  }

  .hamburger-wrapper {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 25px;
  }

  .nav-items {
    display: none;
  }

  .open-nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }

  .nav-links {
    text-align: right;
  }
  #navbar .logo-wrapper .tagline {
    padding-left: 6px;
    color: cornflowerblue;
  }
}

@media (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .hamburger-wrapper {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 25px;
  }

  .nav-items {
    display: none;
  }

  .open-nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }

  .nav-links {
    text-align: right;
  }

  #navbar {
    padding: 20px 20px;
  }
  #navbar .logo-wrapper .tagline {
    color: cornflowerblue;
  }
}
