* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SKILLS */
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
}

.skills {
  width: 100%;
  padding: 100px 200px;
  transition: 0.3s ease;
}

.html,
.css,
.javascript {
  display: flex;
}

.skills-icon-container {
  font-size: 50px;
  width: 20%;
  margin-bottom: 20px;
  color: rgb(36, 69, 139);
}

.skills-description {
  color: rgb(36, 69, 139);
  font-size: 17px;
}

@media (max-width: 980px) {
  .skills {
    padding: 100px 50px;
  }
}

@media (max-width: 900px) {
  .skills {
    padding: 100px 50px;
  }
}

@media (max-width: 690px) {
  .skills {
    padding: 100px 50px;
  }
}
